.home_container
  .header
    .header_logos
      .twitter
        = link_to image_tag( 'twitter.png'), 'https://twitter.com/sarahvarland'
      .facebook
        = link_to image_tag( 'facebook.png'), 'https://www.facebook.com/sarah.varland'

    .nav_bar
      %li
        %a{:href => "index.html"} HOME
      %li 
        %a{:href => "about.html"} ABOUT
      %li.dropdown
        %a{:href=>"#", :class=>"dropdown_button"}BOOKS
        %ul.dropdown_content
          %li
            %a{:href => "treasure.html"} TREASURE POINT SECRETS
            %a{:href => "tundra.html"} TUNDRA THREAT
            %a{:href => "coldcase.html"} COLD CASE WITNESS
            %a{:href => "silent.html"} SILENT NIGHT SHADOWS
      %li 
        %a{:href => "contact.html"} CONTACT
      %li 
        %a{:href => "blog.html"} BLOG

    #contact-wrapper
      %form.contact-form{:action => "sarahvarland@gmail.com", :method => "post"}
        %label{:for => "name"} Name
        %input.form-input{:name => "name", :required => "", :type => "text"}/
        %label{:for => "email"} Email
        %input.form-input{:name => "email", :required => "", :type => "email"}/
        %label{:for => "subject"} Subject
        %input.form-input{:name => "subject", :type => "text"}/
        %label{:for => "message"} Message
        %textarea.form-input{:name => "message", :required => ""}
        %button.form-btn{:type => "submit"} Send Message


