.home_container
  .header
    .header_logos
      .instagram
      .twitter
        = link_to image_tag( 'twitter.png'), 'https://twitter.com/sarahvarland'
      .facebook
        = link_to image_tag( 'facebook.png'), 'https://www.facebook.com/sarah.varland'

    .nav_bar
      %li
        %a{:href => "index.html"} HOME
      %li 
        %a{:href => "about.html"} ABOUT
      %li.dropdown
        %a{:href=>"#", :class=>"dropdown_button"}BOOKS
        %ul.dropdown_content
          %li
            %a{:href => "treasure.html"} TREASURE POINT SECRETS
            %a{:href => "tundra.html"} TUNDRA THREAT
            %a{:href => "coldcase.html"} COLD CASE WITNESS
            %a{:href => "silent.html"} SILENT NIGHT SHADOWS
      %li 
        %a{:href => "contact.html"} CONTACT
      %li 
        %a{:href => "blog.html"} BLOG

    .treasure_image

    .treasure_description
      %p <span style="font-size:30px">IT'S BEEN FIVE YEARS</span>... since Shiloh Evans encountered the murderous gold hunters seeking Black- beard’s hidden stash. After they killed her policewoman cousin, Shiloh left town to regroup, and earn her own police badge. Because she would see this case solved—someday. She just didn’t expect the killers to attack her new home in Treasure Point, Georgia...on the same day her ex-fiancé arrived in town. Adam Cole has tried to overcome his love for Shiloh. But he won’t just sit by when she’s in danger. Working together, they plan a trap. But springing it re- quires getting to centuries-buried treasure before the killers get to them.

    .amazon_button
      = link_to image_tag( 'Amazon-Buy-Button.png'), 'https://www.amazon.com/Treasure-Point-Secrets-Inspired-Suspense-ebook/dp/B00GPDUTGQ/ref=asap_bc?ie=UTF8'